[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
WorkingDirectory={{ project_path }}
ExecStart={{ project_path }}/venv/bin/gunicorn --access-logfile - --workers 3  --bind unix:{{ project_path }}/geekshop.sock geekshop.wsgi

[Install]
WantedBy=multi-user.target